<!DOCTYPE html>
<html lang="ja">
{% load i18n %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}



<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>waganeko</title>
  <link rel="icon" href="{% static 'waganeko/img/icon_cat_face.png' %}">

  <!-- Custom fonts for this theme -->
  <link href="{% static 'waganeko/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
    type="text/css">

  <!-- Theme CSS -->
  <link rel="stylesheet" href="{% static 'waganeko/css/styles.css' %}">
  <link href="{% static 'waganeko/css/freelancer.min.css' %}" rel="stylesheet">
  <!-- <link rel="stylesheet" href="{% static 'waganeko/css/app.css' %}"> -->
  <!-- <link rel="stylesheet" href="{% static 'waganeko/css/homepage.css' %}"> -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin="" />
  <!-- <link rel="stylesheet" href="{% static 'waganeko/css/app.css' %}"> -->
  <!-- <link rel="stylesheet" href="{% static 'waganeko/css/homepage.css' %}"> -->

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
    integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
    crossorigin=""></script>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-tilelayer-geojson/1.0.4/TileLayer.GeoJSON.min.js"></script>

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger waganeko" href="/">Waganeko</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-warning text-white rounded"
        type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      {% if user.is_authenticated %}
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger fas fa-paw" href="/">Top</a>
          </li>
          <!-- <li class="nav-item mx-0 mx-lg-1">
                              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">Authors</a>
                            </li> -->
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger fas fa-user-shield"
              href="/waganeko/mypage">MyPage</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger fas fa-sign-out-alt"
              href="/accounts/logout">LogOut</a>
          </li>
          <!-- <li class="nav-item mx-0 mx-lg-1">
                              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
                            </li> -->
          {% else %}
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/">Top</a>
              </li>
              <!--<li class="nav-item mx-0 mx-lg-1">
                                      <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">Authors</a>
                                    </li> -->
              <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/accounts/register">SignUp</a>
              </li>
              <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/accounts/login">Login</a>
              </li>
              <!-- <li class="nav-item mx-0 mx-lg-1">
                                      <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
                                    </li> -->
              <!-- <li class="nav-item mx-0 mx-lg-1">
                              <a class="fas fa-book-open fa-fw nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Books</a>
                              </li>
                              <li class="nav-item mx-0 mx-lg-1">
                              <a class="fas fa-users fa-fw nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">Authors</a>
                              </li>-->
              {% endif %}
            </ul>
          </div>
      </div>
    </div>
  </nav>

  <div class="bg-warning mt-5 pt-5">
    <!-- Page Content -->
    <div class="container pb-1">
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}

      {% block content %}
      {{ content }}
      {% endblock %}
      {% block extra_js %}{% endblock %}

    </div>
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Location</h4>
          <p class="lead mb-0">2215 John Daniel Drive
            <br>Clark, MO 65243</p>
        </div>

        <!-- Footer Social Icons -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Around the Web</h4>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-facebook-f"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-twitter"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-linkedin-in"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-dribbble"></i>
          </a>
        </div>

        <!-- Footer About Text -->
        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">About Freelancer</h4>
          <p class="lead mb-0">Freelance is a free to use, MIT licensed Bootstrap theme created by
            <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
        </div>

      </div>
    </div>
  </footer>

  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; Waganeko 2019</small>
    </div>
  </section>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'waganeko/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'waganeko/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'waganeko/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Contact Form JavaScript -->
  <script src="{% static 'waganeko/js/jqBootstrapValidation.js' %}"></script>
  <script src="{% static 'waganeko/js/contact_me.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'waganeko/js/freelancer.min.js' %}"></script>


</body>

</html>